<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hours Keepr_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Hours Keepr_debug_lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Hours Keepr_release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Hours Keepr_release_lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>HoursKeeper_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>HoursKeeper_debug_lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>HoursKeeper_release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HoursKeeper_release_lite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03ABD7191A51348E00C72FA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D6058900D05DD3D006BFB54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A23DD2C91BF5DE810001F62A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26443701C17F5B2008B6B3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A276AE1E1BF96C56003A9C8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A276AE381BF96D9C003A9C8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A28FD7561BF5CA76000EC5C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2AF981C1BF9648000014934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2AF98471BF967B400014934</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C719091C3249BD00E9D874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C719361C324F0600E9D874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C800321BF972BA0057AF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2C800DB1BF97EAA0057AF2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2F5B8D81BF5E36900ABB8FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
