<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>faxnow</string>
	</array>
	<key>URL types</key>
	<array>
		<dict>
			<key>URL identifier</key>
			<string>com.btgs.hourskeeperid</string>
			<key>URL Schemes</key>
			<array>
				<string>HoursKeeper</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SF-UI-Text-Medium.otf</string>
		<string>SF-UI-Text-Light.otf</string>
		<string>SF-UI-Text-Regular.otf</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.btgs.hourskeeperidlite</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hourskeeper-widget-Lite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-b43ep996igwezzh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>24</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5396d094a6603764683087a0e2248c3bf6260141</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera is used to take photos for avatars</string>
	<key>NSContactsUsageDescription</key>
	<string>Contact</string>
	<key>NSMainNibFile</key>
	<string>MainWindow_iPhone</string>
	<key>NSMainNibFile~ipad</key>
	<string>MainWindow_iPad</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string> Photos are used for avatars</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
